@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat";
  color: #ffffff;
}

.main-container {
  background-color: #111111;
}

.navbar {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-1 {
  margin-left: 100px;
  height: 50px;
  cursor: pointer;
}

.nav-items {
  margin-right: 100px;
  list-style-type: none;
}

.nav-items li {
  display: inline-block;
  margin-left: 50px;
}

.nav-items li a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-items li:nth-child(4n + 1) a::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 8px;
  background-color: #ffffff;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  position: relative;
  left: 7px;
  bottom: 1px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.intro img {
  height: 570px;
}

.intro .content {
  width: 35%;
}

.intro .content h3 {
  font-size: 21px;
  font-weight: 600;
  color: #fb3141;
}

.intro .content h1 {
  margin-top: 10px;
  font-size: 55px;
  font-weight: 700;
}

.intro .content p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

.about-me-btn {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 22px;
  background-color: #c91b28;
  border: none;
}

.about-me-btn:hover {
  cursor: pointer;
  animation: zoom 200ms ease forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.description {
  padding: 90px 0;
  position: relative;
  z-index: 1;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.service {
  width: 15%;
  margin: 0 15px;
  padding: 40px;
  background-color: #1e1e1e;
}

.service img {
  height: 55px;
}

.service h3 {
  margin-top: 15px;
  font-size: 22px;
}

.service p {
  margin-top: 15px;
  font-size: 18px;
}

.service a {
  display: inline-block;
  margin-top: 18px;
  font-size: 15px;
  font-weight: 600;
  color: #fb3141;
  text-decoration: none;
  text-transform: uppercase;
}

.fa-arrow-right {
  margin-left: 5px;
  font-size: 14px;
  color: #fb3141;
}

.active {
  background-color: #c91b28;
}

.active a {
  color: #ffffff;
}

.active .fa-arrow-right {
  color: #ffffff;
}

.service:hover {
  cursor: pointer;
  animation: zoom 200ms ease forwards;
}

.experience {
  margin: 80px auto 0 auto;
  border-spacing: 15px;
}

.experience td {
  padding: 20px 65px;
  background-color: #1e1e1e;
  text-align: center;
}

td h2 {
  font-size: 40px;
  color: #fb3141;
}

td span {
  display: inline-block;
  margin-top: 6px;
  font-size: 15px;
  font-weight: 500;
}

.year h2 {
  font-size: 90px;
  font-weight: 800;
}

.year span {
  font-size: 24px;
  font-weight: 700;
}

.background {
  width: 50%;
  height: 100%;
  background-color: #181818;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.project-section {
  padding: 0 190px;
}

.header {
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.header p {
  margin-top: 10px;
  font-size: 18px;
}

.view-all-btn {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 22px;
  background-color: #c91b28;
  border: none;
}

.view-all-btn:hover {
  cursor: pointer;
  animation: zoom 200ms ease forwards;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  margin-bottom: 40px;
}

.project img {
  height: 230px;
  padding: 25px 25px;
  background-color: #1e1e1e;
}

.third img {
  width: 410px;
}

.project img:hover {
  cursor: pointer;
  animation: zoom 200ms ease forwards;
}

.project h4 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 800;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fb3141;
  text-decoration: none;
  text-transform: uppercase;
}

.contact {
  margin: 40px 180px;
  padding: 60px 45px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact .content {
  width: 60%;
}

.contact h1 {
  font-size: 40px;
}

.contact p {
  margin-top: 25px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}

.contact-btn {
  margin-right: 60px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 22px;
  background-color: #c91b28;
  border: none;
}

.contact-btn:hover {
  cursor: pointer;
  animation: zoom 200ms ease forwards;
}

.footer-top {
  padding: 40px 0;
  list-style-type: none;
  text-align: center;
}

.footer-top li {
  display: inline-block;
  margin: 0 20px;
}

.footer-top li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.footer-bottom {
  padding: 35px 180px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-2 {
  height: 40px;
  cursor: pointer;
}

.social-media {
  margin-left: 300px;
}

.social-media a {
  margin: 0 12px;
}

.social-media img {
  height: 25px;
}
