@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat";
  color: #ffffff;
}

body {
  background-color: #111111;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 22px;
  background-color: #c91b28;
  border: none;
  transition: background-color 200ms ease;
}

button:hover {
  cursor: pointer;
  background-color: #af1620;
}

.container {
  padding: 0px 150px;
}

.navbar {
  padding: 40px 90px 0px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-top {
  width: 120px;
  cursor: pointer;
}

.nav-items {
  display: flex;
  gap: 50px;
}

.nav-items li a {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-items li:nth-child(4n + 1) a::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 7px;
  background-color: #ffffff;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  position: relative;
  left: 7px;
  bottom: 1.5px;
}

.fa-bars {
  font-size: 22px;
  display: none;
}

.hero {
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .image {
  width: 50%;
}

.hero .content {
  width: 45%;
}

.hero .content h3 {
  font-size: 22px;
  font-weight: 600;
  color: #fb3141;
}

.hero .content h1 {
  margin-top: 10px;
  font-size: 55px;
  font-weight: 700;
}

.hero .content p {
  margin-top: 15px;
}

.about-me-btn {
  margin-top: 24px;
}

.about-us {
  padding: 90px 0;
  position: relative;
  z-index: 1;
}

.services {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.service {
  width: 210px;
  padding: 40px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.service img {
  width: auto;
  height: 55px;
}

.service h3 {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 600;
}

.service p {
  font-size: 18px;
}

.service a {
  font-size: 15px;
  font-weight: 600;
  color: #fb3141;
  text-decoration: none;
  text-transform: uppercase;
}

.service a i {
  margin-left: 5px;
  font-size: 14px;
  color: #fb3141;
  transition: transform 300ms ease;
}

.service a:hover i {
  transform: translateX(5px);
}

.active {
  background-color: #c91b28;
}

.active a,
.active a i {
  color: #ffffff;
}

.experience {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.experience div {
  background-color: #1e1e1e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience h2 {
  font-size: 40px;
  color: #fb3141;
}

.experience h5 {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.experience :first-child {
  grid-row: 1 / span 2;
  background-color: transparent;
}

.experience :first-child h2 {
  font-size: 90px;
  font-weight: 800;
}

.experience :first-child h5 {
  font-size: 25px;
  font-weight: 600;
}

.background {
  width: 50%;
  height: 100%;
  background-color: #181818;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.projects-section {
  padding: 80px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .content h3 {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.header .content p {
  margin-top: 10px;
  font-size: 18px;
}

.projects {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.project div {
  padding: 25px;
  background-color: #1e1e1e;
}

.project h4 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fb3141;
  text-decoration: none;
  text-transform: uppercase;
}

.project a i {
  margin-left: 5px;
  font-size: 14px;
  color: #fb3141;
  transition: transform 300ms ease;
}

.project a:hover i {
  transform: translateX(5px);
}

.view-all-btn-bottom {
  display: none;
  margin: 60px auto 0px auto;
}

.contact .container > div {
  padding: 60px 50px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .content {
  width: 50%;
}

.contact .content h1 {
  font-size: 40px;
}

.contact .content p {
  margin-top: 25px;
}

.footer-top {
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer-top ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-top ul li a {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-bottom {
  background-color: #1e1e1e;
  padding: 35px 0px;
}

.footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-bottom {
  width: 110px;
  cursor: pointer;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-links img {
  width: 27px;
  transition: transform 250ms ease;
}

.social-links img:hover {
  transform: scale(1.2);
}
